@{
    ViewData["Title"] = "Trucks Management System";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is an example Web App to manager trucks, as part of selection process for a great company to work for.</p>
</div>
